/*

TODO:
1. Collapse/expand each category
2. Collapse/expand menu horizontally (mobile in mind)

*/

$blue: #007bff;
$lightGray: #e4e4e4;
$darkGray: #666;

@mixin item-spacing {
    display: flex;
    justify-content: space-between;
    border: none;
    outline: none;
    width: 100%;
    position: relative;
    font-weight: 600;
    text-align: left;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

nav {
    position: relative;
    width: 300px;

    &.collapsed {
        width: 50px;

        .collapse-menu i {
            transform: rotate(180deg);
            border-right: none;
            border-left: 1px solid $lightGray;
        }

        input {
            display: none;
        }

        ul {
            display: none;
        }
    }

    .filter-area {
        display: flex;

        .collapse-menu {
            width: 50px;
            height: 50px;
            padding: 10px;
            background: #fff;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover i {
                color: $blue;
            }

            i {
                padding: 0 10px;
                border-right: 1px solid $lightGray;
                color: $darkGray;
                transition: rotate 0.5s ease;
            }
        }
        input {
            width: 98%;
            margin: 0.5rem 0.25rem;
            padding: 0.5rem 0.5rem 0.5rem 1.75rem;
            box-sizing: border-box;
            border: 1px solid $lightGray;
        }
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
        button {
            @include item-spacing();
            padding: 1rem;
            &:hover {
                background-color: $lightGray;
            }
            i {
                transition: transform 0.5s ease;
            }
            &.collapsed i {
                transform: rotate(180deg);
            }
            &.collapsed + ul, &.collapsed + ul + ul {
                height: 0;
                opacity: 0;
                padding: 0;
                visibility: hidden;
            }
        }
        li.page {
            @include item-spacing();
            font-weight: normal;
            padding-left: 1.5rem;
            a {
                flex: 1;
                padding: 1rem;
                &:hover {
                    color: $blue;
                }
            }
        }
        &.subcategory {
            & > li button {
                padding-left: 2rem;
                & + ul {
                    padding-left: 0.75rem;
                }
            }
        }
    }
}