/*

TODO:
1. Collapse/expand each category
2. Collapse/expand menu horizontally (mobile in mind)

*/

@mixin item-spacing {
    display: flex;
    justify-content: space-between;
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    position: relative;
    font-weight: 600;
    text-align: left;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

nav {
    width: 275px;

    .filter-area {
        i {
            position: absolute;
            top: 1rem;
            left: 0.65rem;
            color: #666;
        }
        input {
            width: 98%;
            margin: 0.5rem 0.25rem;
            padding: 0.5rem 0.5rem 0.5rem 1.75rem;
            box-sizing: border-box;
            border: 1px solid #e4e4e4;
        }
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
        button {
            @include item-spacing();
            &:hover {
                background-color: #e4e4e4;
            }
            i {
                transition: transform 0.5s ease;
            }
            &.collapsed i {
                transform: rotate(180deg);
            }
            &.collapsed + ul, &.collapsed + ul + ul {
                height: 0;
                opacity: 0;
                padding: 0;
                visibility: hidden;
            }
        }
        li.page {
            @include item-spacing();
            font-weight: normal;
            padding-left: 1.5rem;
            a {
                cursor: pointer;
                &:hover {
                    color:#007bff;
                }
            }
        }
        &.subcategory {
            & > li button {
                padding-left: 2rem;
                & + ul {
                    padding-left: 0.75rem;
                }
            }
        }
    }
}